.heading {
    background-color: #563d76;
    min-height: 60px;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.heading :hover {
    color: #fff;
}

.heading-item {
    color: #cbbde2;
}

.logo {
    font-size: 25px;
    border: 1px solid #cbbde2;
    border-radius: 10%;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    padding: 0px 10px;
}

.button-1 {
    font-weight: 550;
    font-size: 16px;
    width: 100px;
    height: 40px;
    color: #ffe484;
    background: transparent;
    border-radius: 0.25em;
    font-family: Arial, Helvetica, sans-serif;
    border: solid 1px #ffe484;
}

.button-1:hover {
    background: #ffe484;
    color: #563d76;
}

.main {
    margin: 80px 0px 0px 50px;
    position: relative;
    top: 60px;
}

.main-h1 {
    color: #7952b3;
    font-size: 70px;
}

.main-p {
    width: 500px;
    color: #6c757d;
}

.button-3,
.button-2 {
    margin: 15px 10px 20px 0px;
    height: 60px;
    width: 250px;
    font-weight: 520;
    background: transparent;
    border-radius: 0.3em;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.button-2 {
    color: #7952b3;
    border: solid 1px #7952b3;
}

.button-2:hover {
    background: #7952b3;
    color: #fff;
}

.button-3 {
    color: #6c757d;
    border: solid 1px #6c757d;
}

.button-3:hover {
    background: #6c757d;
    color: #fff;
}

.box {
    margin-top: 120px;
    height: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.boxes {
    display: flex;
    position: relative;
    width: 900%;
    height: 0px;
    justify-content: flex-end;
    align-items: flex-end;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.boxes li {
    z-index: 3;
    position: relative;
    list-style: none;
    width: 280px;
    height: 260px;
    background-color: #3f2666;
    transform: rotate(-30deg) skew(25deg);
    font-size: 170px !important;
    text-align: center;
    border-radius: 17%;
}

.boxes li span {
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: end;
    display: flex;
    border-radius: 17%;
    box-shadow: -5px 5px 5px rgba(29, 29, 70, 0.3);
}

ul li span:nth-child(3) {
    transform: translate(100px, -100px);
    opacity: 1;
    background-color: #7344b8;
}

ul li span:nth-child(2) {
    transform: translate(50px, -50px);
    opacity: 1;
    background-color: #542b92;
}

ul li span:nth-child(1) {
    transform: translate(0px, -0px);
    opacity: 1;
    background-color: #3f2666;
}

.box-li {
    text-decoration: none;
    display: inline-block;
    color: #cbbde2;
    padding: 0px 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
}

.octopus {
    background-color: rgba(211, 211, 211, 0.5);
    height: 130px;
    top: 60px;
    margin: 0px 80px 100px 80px;
    border-radius: 0.3em;
    position: relative;
    bottom: 50px;
}

img {
    height: 130px;
    width: 120px;
    padding: 15px 0px;
}

.pnote,
.pnote1 {
    width: 200px;
    font-size: 14px;
    margin-left: 120px;
    padding: 0px 15px;
} 

.pnote {
    color: rgba(56, 56, 56, 0.7);
}

.pnote1 {
    color: rgb(32, 32, 32);
}

.pp {
    position: relative;
    bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cont-1,
.cont-2,
.cont-3 {
    border: #fff solid 1px;
    padding: 50px;
    background-color: rgba(211, 211, 211, 0.2);
}

.button-4 {
    background: transparent;
    border-radius: 0.3em;
    color: rgb(0, 119, 255);
    border: solid 1px rgb(0, 119, 255);
    height: 40px;
    margin-top: 50px;
}

.button-4:hover {
    background: rgb(0, 119, 255);
    color: #fff;
}

.footer-1 {
    background-color: rgba(211, 211, 211, 0.2);
    height: 150px;
    color: rgba (56, 56, 56, 0.8);
    font-size: 14px;
}

.footer-ul {
   display: inline-flex;
   padding: 40px 20px 0px 0px;
   font-weight: 500;
}
.footer-p {
    margin-left: 40px;
    line-height: 5px;
    color: rgba(56, 56, 56, 0.7);
}